.cadet{
    background-color:cadetblue;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.gray{
    background-color: gray;
    padding: 20px;
    margin: 30px;
}

.flex{
    display: flex;
}



.tela{
    background-color: white;
    padding: 20px;
    margin: 10px;
}



button{
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 50px;
    height: 50px;
}
